<div class="card">
    <div class="card-body">
        <form #questionTest="ngForm" novalidate>
            <div *ngFor="let ques of allQuestions">
                <div>{{ques.question}}</div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Choose Correct Option</label>
                    <div class="col-md-9 col-form-label">
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="radio" name="{{ques.id}}" value="a"
                                [(ngModel)]="ques.selected">
                            <label class="form-check-label">a) {{ques.a}} </label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="radio" name="{{ques.id}}" value="b"
                                [(ngModel)]="ques.selected">
                            <label class="form-check-label">b){{ques.b}}</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="radio" name="{{ques.id}}" value="c"
                                [(ngModel)]="ques.selected">
                            <label class="form-check-label">c){{ques.c}}</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" type="radio" name="{{ques.id}}" value="d"
                                [(ngModel)]="ques.selected">
                            <label class="form-check-label">d){{ques.d}}</label>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </form>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary me-3" (click)="submitTest()">Submit</button>
                <button type="button" class="btn btn-light me-3" (click)="homePage()">Cancel</button>
            </div>
        </div>
    </div>
</div>



<div bsModal #submitModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center" style="color: #196f77;">
        <h4>Total Questions: {{allQuestions.length}} </h4>
        <h4>
          Total Answered: {{totalAnswered}}
        </h4>
        <h4>
          Right Answer : {{rightAnswer}}
        </h4>
        <span>
          <button type="button" class="btn btn-primary" (click)="checkAnswers()" style="margin-right: 17px;"> Answers</button>
        </span>
        <button type="button" class="btn btn-default" (click)="submitModal.hide()" style="margin-left: 17px;">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div bsModal #answerModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center" style="color: #196f77;">
        <div *ngFor="let ques of allQuestions" [style.color]="!ques.selected? '#ffc107' : ques.selected == ques.answer ? 'green': 'red'">
          <div>{{ques.question}}</div>
          <div>Your Answer: {{ques[ques.selected]}}</div>
          <div>Right Answer: {{ques.answer}}) {{ques[ques.answer]}}</div>
          <hr>
        </div>
        <button type="button" class="btn btn-default" (click)="answerModal.hide()" style="margin-left: 17px;">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>